<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesse View</title>
</head>
<style>
table, th,td {
  border:1px solid gray;
}
</style>
<body>
<h2>Order list</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Container id</th>
    <th>years</th>
    <th></th>
  </tr>

  {% for i in value %}

  <tr>
    <td>{{i.name}}</td>
    <td>{{i.address}}</td>
    <td>{{i.containers_id}}</td>
    <td>{{i.years}}</td>
    <td><a href="//">Approve</a> </td>
  </tr>
  {% endfor %}

</table>

</body>
</html>