<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<h2>lesse pending list</h2>
<table>
  <tr>
    <th>Name</th>
    <th>username</th>
    <th>Password</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

{% for i in value %}

  <tr>
    <td>{{i.name}}</td>
    <td>{{i.username}}</td>
    <td>{{i.password}}</td>
    <td>{{i.status}}</td>
    <td> <a href="/lesseapprove/{{i.id}}">Aprrove</a> </td>
  </tr>
  {% endfor %}
</table>
</body>
</html>