<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>online leasing</title>
</head>
<body>
<h1> welcome to online leasing page</h1>
<ul>
    <li>
        <a href="/adminlogin"> Admin login </a>
    </li>
    <li>
        <a href="/login"> Lessor login </a>

    </li>
    <li>
        <a href="/register"> Lessor register</a>
</li>
    <li>
        <a href="/lesselogin"> Lesse login</a>
</li>
    <li>
        <a href="/lesseregister"> Lesse register</a>
</li>
</ul>

</body>
</html>