<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
<table>

    <tr>
        <td>Name</td>
        <td><input type="text" name="name"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" name="address"></td>
    </tr>
     <tr>
        <td>container id</td>
        <td><input type="number" name="container_id"></td>
    </tr>
    <tr>
        <td>Time for leasing in year</td>
        <td><input type="number" name="years"></td>
    </tr>

    <tr>
        <td><input type="submit" value="confirm"></td>
    </tr>
</table>

</form>
</body>
</html>